@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Jura', sans-serif;
}

html, body {
  min-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/nah-bg.jpeg');
  background-position: center;
  background-size: cover;
}